#real-time {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.Time {
  color:white;
  background-color:343a40;
  text-align:center;
  font-size:25vh;
  line-height:1;
}

.Time-controller {
  font-size: 36px;
}

.Blue {
    background-color:lightblue;
}

.White {
    background-color:white;
}

.Score {
  line-height:1;
  font-size:40vh;
  text-align:center;
}

.Team {
  font-size:8vh;
  text-align:center;
  line-height:1;
}

.State {
  font-size:8vh;
  text-align:center;
  line-height:3;
  color:white;
}

.row {
  overflow:hidden;
}

.Status-dark {
  background-color:343a40;
  /*padding-bottom:300px;*/
  color:white;
  text-align:center;
}

body.black_bg {
  background-color:black;
}

div.table-responsive {
  overflow:visible;
}

div.btn-group {
  text-align:center;
}

.grey_bg {
  background-color:lightgrey;
}

.lightgrey_bg {
    background-color:#E8E8E8;
}

label.radio-inline {
    padding-right:15px;
    margin-top: 8px;
}

#settings-menu {
    padding-bottom: 5px;
}

.button-column {
    padding-top: 5px;
    padding-bottom: 5px;
}

.GameStatusRed {
  color:red;
  font-size:3rem;
}

.GameStatusGreen {
  color:green;
  font-size:3rem;
}


#gamedaytable td {
    overflow: hidden;
}
#gamedaytable td a {
    display: block;
    margin: -10em;
    padding: 10em;
    color: inherit;
}
.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: rgba(0,0,0,.08);
}

.table-hover tbody tr:hover {
    background-color: rgba(0,0,0,.11);
}

.progress {
    margin-bottom: 0.5vh;
    font-size: 6vh;
}

.progress, .progress-bar {
    height: 6.5vh;
}

.no-scroll-bar {
    overflow: hidden;
}

.uwr-icons {
    font-size: 1.5rem;
}

.custom-icons {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    background-size: 1.5rem 1.5rem;
    background-position: center;
    background-repeat: no-repeat;
}

.basket-icon {
    background-image: url(/assets/img/basket.svg);
}

.timeout-icon {
    background-image: url(/assets/img/timeout.svg);
}

.freethrow-icon {
    background-image: url(/assets/img/freethrow.svg);
}

.btn-select-event {
    height: 3.5rem;
    width: 13rem;
}
